:root {
    background-color: gray;

}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: gray;
    
    
    
  }
  
  .image-card {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .image-card__image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .image-card__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .image-card__subtitle {
    font-size: 16px;
    color: #777;
  }

  .header {
    margin: 20px;
    margin-bottom: 160px;
    font-size: 20px;
    
    
    
  }

 
  .signup-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
    
    
    
    
  }
  
  .signup-form__title{
    font-size: 24px;
    margin-bottom: 20px;
    
    
  }
  
  .signup-form__group {
    display: grid;
    grid-template-columns: .1fr .1fr;
    gap: 20px;
    padding: 20px;
  }


  
  
  .signup-form__input {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    
  }
  
  .signup-form__submit {
    width: 30%;
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    
    
  }
  
  .signup-form__submit:hover {
    background-color: #0056b3;
    
  }

  input:invalid:focus {
    background-color: rgb(241, 112, 112);
    
  }
  
   input:valid { 
    border-color: rgb(88, 206, 88);
    

  } 

  .error-message {
    color: red;
  }
  


